### Shell Datathon
<br>
    
#### Akaryakıt İstasyonlarında Tedarik Zinciri

<br>

Shell & Turcas’ın Türkiye genelinde üç adet kendi işlettiği ve dört adet de müşterek işletilen olmak üzere toplam yedi adet akaryakıt terminali bulunmaktadır. Akaryakıt istasyonlarına yapılan ürün ikmali Shell & Turcas ve hizmet alınan diğer akaryakıt terminallerinden kara yolu nakliye araçları ile yapılmaktadır. İstasyonların vermiş oldukları sipariş miktarları satış hacimlerine ve akaryakıt fiyatlarına bağlı olarak değişkenlik göstermektedir.

<br>

#### Ne Üretmenizi Bekliyoruz?

Shell Cashflow Datathon'unda, gelir ve gider kalemlerini etkileyebilecek tüm verileri kullanarak 42 günlük Net Cashflow from Operations tahmini yapmanızı istiyoruz.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv("cash_flow_train.csv")

In [4]:
df_train.head()

,Date,Total Inflows,Customers - DDS,Customers - EFT,T&S Collections,FX Sales,Other operations,Total Outflows,Tüpraş,Other Oil,Gas,Import payments (FX purchases),Tax,Operatioınal and Admin. Expenses,VIS Buyback Payments,Net Cashflow from Operations,Inflows- currency
0,2019-01-02,1.747050e+07,7718750,9.655500e+06,0.0,0.0,96250.0,-4.631593e+07,-1.457022e+07,-144151.00,-1.109963e+06,-29274250.0,-1.048839e+05,-1112468.950,0.000000e+00,-2.884543e+07,NaN
1,2019-01-03,1.153048e+07,3431500,8.098978e+06,0.0,0.0,0.0,-1.535349e+07,-1.337181e+07,-300799.25,-2.798575e+05,-7746.0,-7.887853e+05,-604485.735,0.000000e+00,-3.823007e+06,NaN
2,2019-01-04,2.591328e+07,13775750,1.213753e+07,0.0,0.0,0.0,-1.098651e+08,-2.459390e+07,0.00,0.000000e+00,-49032605.0,-2.936467e+06,-7175889.980,-2.612621e+07,-8.395180e+07,NaN
3,2019-01-07,5.259345e+07,39041750,1.355170e+07,0.0,0.0,0.0,-5.165489e+07,-3.110594e+07,-3364373.00,-1.406590e+06,-12049750.0,-8.218624e+05,-2906374.810,0.000000e+00,9.385578e+05,NaN
4,2019-01-08,3.650429e+07,15137500,2.136679e+07,0.0,0.0,0.0,-1.842178e+07,-1.246099e+07,-16765.25,-4.078995e+05,-67702.5,-4.438174e+06,-1030240.720,0.000000e+00,1.808252e+07,NaN

Net Cashflow from Operations:
Total Inflows ve Outflows farkıdır - Tahmin edilmesini talep ettiğimiz kalemdir

In [5]:
df_train.isnull().sum()

Date                                  0
Total Inflows                         0
Customers - DDS                       0
Customers - EFT                       0
T&S Collections                       0
FX Sales                              0
Other operations                      0
Total Outflows                        0
Tüpraş                                0
Other Oil                             0
Gas                                   0
Import payments (FX purchases)        0
Tax                                   0
Operatioınal and Admin. Expenses      0
VIS Buyback Payments                  0
Net Cashflow from Operations          0
Inflows- currency                   249
dtype: int64

In [15]:
df_train["Date"].min()

'2019-01-02'

In [14]:
df_train["Date"].max()

'2023-02-01'

In [16]:
df_brent = pd.read_csv("brent.csv")

In [17]:
df_brent.head()

,Tarih,Ürün,Avrupa Birliği Para Birimi,AB Piyasa Fiyatı,AB Piyasa Fiyatı- Yüksek,AB Piyasa Fiyatı- Düşük,Dolar Kuru (Satış)
0,2023-02-01,ICE BRENT,$/BBL,82.84,86.21,82.37,18.8235
1,2023-01-31,ICE BRENT,$/BBL,84.49,85.25,83.73,18.8216
2,2023-01-30,ICE BRENT,$/BBL,84.90,87.48,84.66,18.8215
3,2023-01-29,ICE BRENT,$/BBL,86.66,88.95,85.69,18.8191
4,2023-01-28,ICE BRENT,$/BBL,86.66,88.95,85.69,18.8191

In [18]:
df_brent.isnull().sum()

Tarih                          0
Ürün                           0
Avrupa Birliği Para Birimi     0
AB Piyasa Fiyatı               0
AB Piyasa Fiyatı- Yüksek      44
AB Piyasa Fiyatı- Düşük       44
Dolar Kuru (Satış)             0
dtype: int64

In [19]:
df_depo = pd.read_csv("depo_pump_imm.csv")

In [20]:
df_depo.head()

    Yıl  Ay IMM TL/m3 Pump Price Depot Price
0  2018   1   596,79       5,28    4.149,81
1  2018   2   606,58       5,23    4.110,32
2  2018   3   610,44       5,32    4.195,51
3  2018   4   608,02       5,62    4.449,25
4  2018   5   574,56       5,77    4.605,51

In [27]:
df_depo.isnull().sum()

Yıl            0
Ay             0
IMM TL/m3      0
Pump Price     0
Depot Price    0
dtype: int64

In [21]:
df_otv = pd.read_csv("otv.csv")

In [22]:
df_otv.head()

        Tarih     ÖTV   Adet  ÖTV Oranı        ÖTV uygulanan Ürün Adı
0  2018-05-22  2124.10  1000    2.12410           Kursunsuz Benzin 95
1  2018-05-22  2124.10  1000    2.12410           Kursunsuz Benzin 95
2  2018-05-22  2081.62  1000    2.08162  Etanollü Kurşunsuz Benzin 95
3  2018-05-22  2081.62  1000    2.08162  Etanollü Kurşunsuz Benzin 95
4  2018-05-22  1567.90  1000    1.56790                       Motorin

In [28]:
df_otv.isnull().sum()

Tarih                     0
ÖTV                       0
Adet                      0
ÖTV Oranı                 0
ÖTV uygulanan Ürün Adı    0
dtype: int64

In [23]:
df_platts = pd.read_csv("platts.csv")

In [24]:
df_platts.head()

,Tarih,Ürün,Avrupa Birliği Birimi,AB Piyasa Fiyatı,AB Piyasa Fiyatı- Yüksek,AB Piyasa Fiyatı- Düşük,Dolar Kuru (Satış)
0,2022-12-31,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,932.25,932.50,932.00,18.7320
1,2022-12-30,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,932.25,932.50,932.00,18.7320
2,2022-12-29,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,927.00,927.25,926.75,18.7303
3,2022-12-28,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,926.25,926.50,926.00,18.7301
4,2022-12-27,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,920.00,920.25,919.75,18.7150

In [29]:
df_platts.isnull().sum()

Tarih                       0
Ürün                        0
Avrupa Birliği Birimi       0
AB Piyasa Fiyatı            0
AB Piyasa Fiyatı- Yüksek    0
AB Piyasa Fiyatı- Düşük     0
Dolar Kuru (Satış)          0
dtype: int64

In [25]:
df_usd = pd.read_csv("usd.csv")

In [26]:
df_usd.head()

,Yıl,Tarih,USD ALIŞ,USD SATIŞ,EUR ALIŞ,EUR SATIŞ,GBP ALIŞ,GBP SATIŞ
0,2018,2018-01-02,3.7719,3.7787,4.5155,4.5237,5.0803,5.1068
1,2018,2018-01-03,3.7652,3.7719,4.5375,4.5457,5.0910,5.1175
2,2018,2018-01-04,3.7617,3.7685,4.5267,4.5349,5.1014,5.1280
3,2018,2018-01-05,3.7600,3.7668,4.5269,4.5351,5.0818,5.1083
4,2018,2018-01-06,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_usd.isnull().sum()

Yıl            0
Tarih          0
USD ALIŞ     581
USD SATIŞ    581
EUR ALIŞ     581
EUR SATIŞ    581
GBP ALIŞ     581
GBP SATIŞ    581
dtype: int64

In [31]:
df_submission = pd.read_csv("sample_submission.csv")

In [33]:
df_submission.head()

         Date  Net Cashflow from Operations
0  2023-02-02                             0
1  2023-02-03                             0
2  2023-02-06                             0
3  2023-02-07                             0
4  2023-02-08                             0

In [35]:
len(df_submission)

42